<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="bag-of-stuff">
<template>
    <style>
        :host {
            display: block;
            text-align: center;
        }
        :host > ::content [item] {
            display: inline-block;
            background-color: rgb(55, 123, 181);
            padding: 10px 10px 10px 10px;
            border-radius: 2px;
            color: white;
            margin: 10px;
        }
    </style>
    <div>
        <content></content>
    <div>
</template>
<script>
    Polymer({
        is: "bag-of-stuff"
    });
</script>
</dom-module>
