<dom-module id="module-element-2">
<template>
    <style>
        :host {
            display: block;
            //min-height: 280px;
            padding: 20px 0;
        }
        :host > ::content [text] {
        }
        :host > ::content [primary] {
          font-size: 45px;
        }
        :host > ::content [secondary] {
          font-size: 25px;
        }
        :host > ::content [image] {
            height: 200px;
        }
        @media screen and (max-width:650px) {
            :host > ::content [text] {
                width: 100%;
                min-height: 0;
            }
            :host > ::content [image] {
                position: relative;
                height: 100px;
                top: 0;
                transform: translateY(0);
            }
        }
	}
    </style>
    <content></content>
</template>
<script>
    Polymer({
        is: "module-element-2"
    });
</script>
</dom-module>
